html, body {
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    outline: none;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

a:hover {
    text-decoration: none;
    color: #000;
}

body p {
    margin: 0;
    line-height: 28px;
}

body h5 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding-left: 0 !important;
}

textarea:focus, input:focus {
    outline: none;
}

.navbar {
    width: 100% !important;
    background-color: rgba(109, 98, 124, 1) !important;
    padding: 10px !important;
}

.navbar .left-section , .right-section {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.left-section .fa-bars {
    font-size: 1.8rem;
    margin-right: 13px;
    color: #fff;
}

.right-section  .categories, .right-section .learnings {
    color: #fff !important;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 15px 0 0!important
}

.right-section .categories:hover,
.right-section .learnings,
.right-section li:hover {
    cursor: pointer
}

.right-section ul {
    list-style: none;
    background-color: #fff;
    padding: 15px 25px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 9.1px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
}


.right-section ul li {
    padding-top: 20px;
    font-size: 0.9rem;
 }

.right-section .main-category, .right-section .learnings-category {
    top: 70px;
    right: 5px;
}

.right-section .learnings-category {
    top: 70px;
    right: 150px;
}

.right-section .category {
    top: 70px;
    right: 285px;
}

 .right-section .main-category, .right-section .learnings-category , .right-section .web-development-category,  .right-section .mobile-developement-category,  .right-section .programming-category,  .right-section .engineering-category,  .right-section .block-chain-category,  .right-section .iot-category,  .right-section .cloud-category,  .right-section .data-science-category,  .right-section .cybersecurity-category {
    display: none;
 }

.searchBar {
    position: relative;
}

.searchBar input{
    background-color: #fff;
    padding: 5px;
    padding-left: 30px;
    width: 250px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 0.9rem;
}

.searchBar .fa {
    position: absolute;
    left: 7px;
    top: 8px;
}

.right-section .fa {
    font-size: 1.6rem;
    margin: 0 15px 0 0 !important;
}

.right-section .btn {
padding: 7px 20px;
background-color: #fff;
margin-right: 15px;
font-size: 0.8rem;
font-weight: 500;
border-radius: 0;
}

.right-section .profile-container {
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 999;
}

.profile-container .profile-btn {
    border: 1px solid #000;
    padding: 5px 15px;
}

.profile-btn:hover {
    border-radius: 5px;
}

.profile-btn:hover {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.profile-container.inactive {
    display: none;
}


.left-section .menu-categories {
    background-color: #BDADAD;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 35px;
    width: 350px;
    overflow: hidden;
    z-index: 99;
}

.menu-categories.inactive {
    display: none;
}

.left-section .menu-categories img {
    position: absolute;
    z-index: 0;
}

.menu-categories .first-image {
    top: -15px;
    left: -15px;
}

.menu-categories .second-image {
    top: -15px;
    right: -65px;
}

.menu-categories .fourth-image {
    bottom: 0;
    left: -65px;
}

.menu-categories .third-image {
    bottom: 40px;
    right: -30px;
}

.menu-categories .menu-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    position: relative;
    text-align: center;
    backdrop-filter: blur(10px);
}

.menu-container ul {
    padding-left: 0 !important;
}

.menu-container ul li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1.5px solid transparent;
    cursor: pointer;
}

.menu-container li:hover {
    border-bottom: 1.5px solid #000;
}

.flex {
    display: flex;
    align-items: center;
}

.blog-details-container {
    margin: 50px 0;
    position: relative;
}

.blog-details-container .heading {
    position:absolute;
    top: 30%;
    left: 10%;
}

.blog-details-container .heading p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 5px
}

.blog-details-container .heading p:last-child {
    color: #5751E1;
}

.blog-details-container .heading i {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-right: 5px;
    opacity: 0.6;
}

.blog-details-container .header-container {
    margin-bottom: 40px;
    position: relative;
}

.blog-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: flex-start;
}

.blog-content .left-section {
    width: 60%;
}

.blog-content .blog-right-section {
    width: 30%;
}

.blog-content .left-section .header-container {
    justify-content: space-between;
    margin-bottom: 30px !important;
    width: 100%;
}

.blog-content .left-section .header-container button {
    font-weight: 300;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    border: none;
    margin-left: 20px;
}

.blog-content .left-section .card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

 .card {
    padding: 15px;
    width: 250px;
    margin: 10px;
}

 .card .img-container {
   position: relative;
 margin-bottom: 5px;
}

.card .img-container img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
}

 .card .img-container p {
    background-color: #FF7675;
    padding: 1px 8px;
    font-weight: 300;
    color: #fff;
    border-radius: 15px;
    font-size: 0.7rem;
    position: absolute;
    top: 5px;
    left: 5px;
}

.card .small-details .flex{
    margin-right: 12px;
    margin-bottom: 10px;
}

.card .small-details i {
    font-size: 0.88rem;
    color: #5751E1;
    margin-right: 5px;
}

.card .small-details p {
    font-size: 0.75rem;
    font-weight: 400;
    color: #6D6C80
}

.blog-right-section .search-container {
    position: relative;
    width: 100%;
    margin-top: 30%;
    margin-bottom: 6%;
}

.blog-right-section .search-container i {
    position:absolute;
    left: 10px;
    font-size: 1rem;
    color: #5751E1
}

.blog-right-section .search-container input {
border: none;
background-color: #F7F7F9;
border-radius: 5px;
width: 100%;
padding: 10px 10px 10px 35px;
font-size: 0.9rem;
font-weight: 300;
}

.blog-right-section .categories-container {
    padding: 6%;
    border-radius: 10px;
    background-color: #F7F7F9;
    margin: 6% 0;
}

.blog-right-section .categories-container li {
    padding: 10px;
    color: #6D6C80;
    font-weight: 300;
    font-size: 0.9rem;
}

.blog-right-section .categories-container i {
    margin-right: 10px;
    color: #5751E1;
    font-size: 0.9rem;
}

.blog-right-section .post-container {
    padding: 6%;
    border-radius: 10px;
    background-color: #F7F7F9;
    margin: 6% 0;
}

.post-container .post {
    margin-bottom: 15px;
}

.blog-right-section .post-container .post-img {
    width: 100px;
    height: 70px;
    margin-right: 20px
}

.blog-right-section .post-container .post i {
    color: #5751E1;
    font-size: 0.9rem;
    margin-right: 10px;
}

.blog-right-section .post-container .post p {
    font-size: 0.8rem;
    color: #7F7E97;
    font-weight: 300;
}

.blog-right-section .post-container .post h6 {
    font-size: 1rem;
    margin-top: 10px;
}

.blog-right-section .tag-container {
    padding: 6%;
    border-radius: 10px;
    background-color: #F7F7F9;
    margin: 5% 0;
}

.blog-right-section .tag-container .flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.blog-right-section .tag-container p {
    padding: 5px 15px;
    font-weight: 300;
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 5px;
    color: #00B894;
    margin: 5px;
}

@media screen and (max-width: 970px ){
    .blog-content .blog-right-section {
        display: none;
    }
    .blog-content .left-section {
        width: 90%;
    }
}


@media screen and (max-width: 790px) {
    .navbar .left-section .searchBar input {
        width: 100%;
    }
}

@media screen and (max-width: 735px) {
    .navbar .right-section .learnings {
        display: none;
    }
}



@media screen and (max-width: 600px) {
    .navbar .right-section .categories {
        display: none
    }
}


@media screen and (max-width: 520px) {
    .navbar .left-section .searchBar {
        display: none;
    }
}
