body {
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body p {
    margin: 0
}

body h5 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.navbar {
    width: 100% !important;
    background-color: rgba(109, 98, 124, 1) !important;
    padding: 10px !important;
}

.navbar .left-section , .right-section {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.left-section .fa-bars {
    font-size: 1.8rem;
    margin-right: 13px;
    color: #fff;
}

.right-section  .categories, .right-section .learnings {
    color: #fff !important;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 15px 0 0!important
}

.right-section .categories:hover,
.right-section .learnings,
.right-section li:hover {
    cursor: pointer
}

.right-section ul {
    list-style: none;
    background-color: #fff;
    padding: 15px 25px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 9.1px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
}


.right-section ul li {
    padding-top: 20px;
    font-size: 0.9rem;
 }

.right-section .main-category, .right-section .learnings-category {
    top: 70px;
    right: 5px;
}

.right-section .learnings-category {
    top: 70px;
    right: 150px;
}

.right-section .category {
    top: 70px;
    right: 285px;
}

 .right-section .main-category, .right-section .learnings-category , .right-section .web-development-category,  .right-section .mobile-developement-category,  .right-section .programming-category,  .right-section .engineering-category,  .right-section .block-chain-category,  .right-section .iot-category,  .right-section .cloud-category,  .right-section .data-science-category,  .right-section .cybersecurity-category {
    display: none;
 }
.searchBar {
    position: relative;
}

.searchBar input{
    background-color: #fff;
    padding: 5px;
    padding-left: 30px;
    width: 250px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 0.9rem;
}

.searchBar .fa {
    position: absolute;
    left: 7px;
    top: 8px;
}

.right-section .fa {
    font-size: 1.6rem;
    margin: 0 15px 0 0 !important;
}

.right-section .btn {
padding: 7px 20px;
background-color: #fff;
margin-right: 15px;
font-size: 0.8rem;
font-weight: 500;
border-radius: 0;
}

.right-section .profile-container {
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 10px;
}

.profile-container .profile-btn {
    border: 1px solid #000;
    padding: 5px 15px;
}

.profile-btn:hover {
    border-radius: 5px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 50px;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000 !important;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #CFC2C2;
    ;
    font-weight: 600;
    border: 1px solid #000;
}



@media screen and (max-width: 670px) {
    .navbar .left-section .searchBar input {
        width: 100%;
    }
}



@media screen and (max-width: 600px) {
    .navbar .right-section .categories {
        display: none
    }
}


@media screen and (max-width: 520px) {
    .navbar .left-section .searchBar {
        display: none;
    }
}