body {
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    outline: none;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

a:hover {
    text-decoration: none;
    color: #000;
}

body p {
    margin: 0
}

body h5 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.navbar {
    width: 100% !important;
    background-color: rgba(109, 98, 124, 1) !important;
    padding: 10px !important;
}

.navbar .left-section , .right-section {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.left-section .fa-bars {
    font-size: 1.8rem;
    margin-right: 13px;
    color: #fff;
}

.right-section  .categories, .right-section .learnings {
    color: #fff !important;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 15px 0 0!important
}

.right-section .categories:hover,
.right-section .learnings,
.right-section li:hover {
    cursor: pointer
}

.right-section ul {
    list-style: none;
    background-color: #fff;
    padding: 15px 25px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 9.1px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
}


.right-section ul li {
    padding-top: 20px;
    font-size: 0.9rem;
 }

.right-section .main-category, .right-section .learnings-category {
    top: 70px;
    right: 5px;
}

.right-section .learnings-category {
    top: 70px;
    right: 150px;
}

.right-section .category {
    top: 70px;
    right: 285px;
}

 .right-section .main-category, .right-section .learnings-category , .right-section .web-development-category,  .right-section .mobile-developement-category,  .right-section .programming-category,  .right-section .engineering-category,  .right-section .block-chain-category,  .right-section .iot-category,  .right-section .cloud-category,  .right-section .data-science-category,  .right-section .cybersecurity-category {
    display: none;
 }

.searchBar {
    position: relative;
}

.searchBar input{
    background-color: #fff;
    padding: 5px;
    padding-left: 30px;
    width: 250px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 0.9rem;
}

.searchBar .fa {
    position: absolute;
    left: 7px;
    top: 8px;
}

.right-section .fa {
    font-size: 1.6rem;
    margin: 0 15px 0 0 !important;
}

.right-section .btn {
padding: 7px 20px;
background-color: #fff;
margin-right: 15px;
font-size: 0.8rem;
font-weight: 500;
border-radius: 0;
}

.right-section .profile-container {
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 10px;
}

.profile-container .profile-btn {
    border: 1px solid #000;
    padding: 5px 15px;
}

.profile-btn:hover {
    border-radius: 5px;
}

.profile-btn:hover {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.profile-container.inactive {
    display: none;
}


.left-section .menu-categories {
    background-color: #BDADAD;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 35px;
    width: 350px;
    overflow: hidden;
    z-index: 999;
}

.menu-categories.inactive {
    display: none;
}

.left-section .menu-categories img {
    position: absolute;
    z-index: 0;
}

.menu-categories .first-image {
    top: -15px;
    left: -15px;
}

.menu-categories .second-image {
    top: -15px;
    right: -65px;
}

.menu-categories .fourth-image {
    bottom: 0;
    left: -65px;
}

.menu-categories .third-image {
    bottom: 40px;
    right: -30px;
}

.menu-categories .menu-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    position: relative;
    text-align: center;
    backdrop-filter: blur(10px);
}

.menu-container ul {
    padding-left: 0 !important;
}

.menu-container ul li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1.5px solid transparent;
    cursor: pointer;
}

.menu-container li:hover {
    border-bottom: 1.5px solid #000;
}

.header-container {
margin-left: auto;
margin-right: auto;
width: 90%;
background: rgba(167, 142, 187, 1);
margin-top: 4%;
text-align: center;
border-radius: 20px;
padding: 15px 15px 0 15px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.header-container h2 {
    font-size: 1.9rem;
    font-weight: 700;
}

.header-container .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-wrap: wrap;
}

.buttons button {
    margin: 10px;
    border: none;
    border-radius: 80px;
    background: rgba(219, 195, 251, 1);
   text-align: center;
   padding: 10px 30px;
}

.buttons button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
                0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}


.line.active {
    border-bottom: 5px solid #6D627C !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important
}

.greetings {
    margin: 40px 0px 15px 40px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 5%;
}

.in-progress-container {
    display: none;
}

.completed-container {
    display: none;
}

.liked-container {
    display: none;
}

.cart-container {
    display:none
}

.active {
    display: block;
}

/* .containers {
    display: none;
}

.container.active {
    display: flex; 
} */

.card-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
margin-left: auto;
margin-right: auto;
position: relative;

}

.card-container .menu-btn {
    border: 1px solid transparent;
    padding: 5px;
    }

.card-container .menu-btn:hover {
border: 1px solid #000;
cursor: pointer;
}

.card {
    margin: 15px;
    width: 300px;
    position: relative;
}

.card .card-body,
.card .liked-card-body {
    background-color: #BDADAD;
    padding: 10px;
}

.card .card-body:hover,
.card .liked-card-body:hover {
    cursor: pointer;
}
.card .view-more button{
    background-color: #5A5361;
    border-radius: 25px;
    padding: 10px 15%;
    border: none;
    color: #fff;
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 20px
 }

 .card .view-more button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
 }
  
 .card .progress,
 .card .progress-bar {
    height: 5px;
    border-radius: 0;
 }

 .card .progress-bar {
    background-color: #6D627C;
 }
 .card .progress {
    margin: 10px 0;
 }

 .card .progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .card .fa-ellipsis-v {
    position: absolute;
    /* z-index: 999; */
    background-color: #fff;
    padding: 6px 10px;
    font-size: 1.3rem;
    right: 5px;
    top: 5px;
    cursor: pointer;
 }

 .card .card-menu {
padding: 10px 20px;
background-color: #fff;
box-shadow: 0px 4px 4px 0px #00000040;
position: absolute;
top: 35px;
right: 5px; 
 }

 .card-menu div {
display: flex;
align-items: center;
justify-content: flex-start;
margin-top: 6px;
margin-bottom: 6px;
 }

 .card-menu p {
    margin-left: 8px;
 }

 .card-menu.inactive {
    display: none;
 }


 .card .rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
  }

  .rating-container .rating{
    margin-right: 8px;
    font-weight: 600;
    margin-top: 3px;
  }

  .rating-container .rating-icons {
    margin-right: 5px;
    color: #FFB602;
  }


  .rating-container .views {
    opacity: 0.5;
  }


  .course-added-in-cart {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start; */
    height: 150px;
  }

  .course-added-in-cart .course {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

  }

  .course-added-in-cart .course-img {
    margin: 0 20px 20px 0;;
  }

  .course-added-in-cart .content {
    margin-right: 50px;
  }

  .course-added-in-cart .rating-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .course-added-in-cart .cart-buttons {
    align-self: flex-start;
  }

  .course-added-in-cart .cart-buttons p {
    margin-bottom: 15px;
    cursor: pointer;
  }

  .course-added-in-cart .vertical-line {
    height: 100%;
    width: 1px;
    background-color: #000;
    margin: 0 20px 0 20px;
  }

  .course-added-in-cart .price-container {
    text-align: center;
  }

  .course-added-in-cart .cart-btn {
    background-color: #BDADAD;
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    font-weight: 600;
    margin-top: 15px;
}

  .cart-btn:hover {
    background-color: #625858;
    cursor: pointer;
    color: #fff;
}

.modal-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-content {
display: none;
}

.modal-container.active {
    display: flex;
}

/* .modal-content.active {
    display: block;
} */

.share-modal {
    background-color: #fff;
    padding: 25px;
    display: none;
}

.share-modal.active {
    display: block;
}
.share-modal .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share-modal .socials {
    border: 1.5px solid #000;
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.share-modal .socials i {
    font-size: 2.5rem;
    margin: 15px 15px 15px 15px;
}

.rating-modal {
    background-color: #fff;
    padding: 15px;
    width: 400px;
    display: none;
}

.rating-modal.active {
    display: block;
}

.rating-modal textarea {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-weight: 300;
}

.star-icons img {
    transition: transform 0.2s;
}

.star-icons img:hover {
    transform: scale(1.2);
}

.cart-modal.active {
    display: block;
}

.cart-modal {
    background-color: #fff;
    padding: 5px 20px 20px 20px;
    width: 700px;
    display: none;
}

.cart-modal h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 5px;
}

.cart-modal .close {
    text-align: right;
    /* font-size: 1.9rem; */
}

.cart-modal .added-course {
    display: flex;
    align-items: center;
}

.added-course .card-img-top {
    margin-right: 20px;;
}

.added-course .rating-container {
    white-space: nowrap;
    display: flex;
}

.cart-modal .cart-btn {
background-color: #BDADAD;
border-radius: 50px;
border: none;
padding: 10px 40px;
font-weight: 600;
}

.cart-modal .cart-btn:hover {
background-color: #625858;
cursor: pointer;
color: #fff;
}


.course-modal-container {
    position:fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}

.course-modal-container.active {
    display: flex;
}

.course-details-modal {
    position: relative;
    background-color: #E8E8E8;
border: 1.5px solid #000;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
padding: 20px;
width: 380px;
left: -100%;
animation: slide-in 0.5s forwards;
}

.course-details-modal.hide {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% {
        left: 0;
    }
}

@keyframes slide-out {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.progress-circle {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.progress-circle .progress-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    color: #BA5195;
    font-weight: 400;
}

.progress-ring {
    transform: rotate(-90deg);
}

.progress-ring__circle {
    stroke: #AD4595;
    stroke-width: 6;
    fill: transparent;
    transition: stroke-dasharray 0.35s;
    transform: rotate(0deg);
    transform-origin: center;
}

.progress-ring__circle-bg {
    stroke: #E9AFD6;
    stroke-width: 6;
    fill: transparent;
}

.progress-ring__circle--background {
    stroke: #E9AFD6;
    stroke-width: 6;
    fill: transparent;
}

.progress-ring__circle {
    stroke: #AD4595;
    stroke-width: 6;
    fill: transparent;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.course-details-modal .button-container {
    background-color: rgba(209, 187, 239, 0.52);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 15px;
border-bottom-left-radius: 30px;
margin-top: 15px;
}

.button-container .button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.button-container .button:hover {
    background: rgba(209, 187, 239, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button-container .button p {
    margin-left: 15px;
    font-weight: 600;
}

.button-container .button i {
    font-size: 1.3rem
}


.card-container .course-details {
    width: 350px;
    box-shadow: 0 0 9.1px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    left: 70px;
    text-align: left;
    background-color: #fff;
    padding: 15px;
    padding-left: 40px;
    z-index: 3;
    top: 5px;
    display: none;
}

.course-details.show {
    display: block;
}

.course-details p {
    margin-top: 10px;
    font-size: 0.9rem

}

.course-details h4 {
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.3rem
}

.course-details .small-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 600;
}

.course-details .small-details p {
    margin-right: 10px;

}

.course-details .points {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.9rem;
    margin-top: 0px;
}

.course-details .points i {
    margin-top: 5px;
    margin-right: 10px;
}

.course-details .button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

}

.course-details .button .cart-btn {
    background-color: #BDADAD;
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    font-weight: 600;
}

.course-details .button .cart-btn:hover {
    background-color: #625858;
    cursor: pointer;
    color: #fff;
}

.course-details .button .like {
    border: 3px solid #000;
    border-radius: 50%;
    padding: 6px 10px;
}

.course-details .button .like:hover {
    cursor: pointer;
}

.course-details .button .like .inactive {
    display: none
}

@media screen and (max-width: 1040px) {
    .course-added-in-cart {
        display: flex;
    }

    .course-added-in-cart .course {
        flex-direction: column;
        margin-right: 25px;
        width: 300px;
        /* border: 1px solid #000; */
    }

    .course .vertical-line {
        width: 100%;
        height: 2px;
        margin: 10px 0 10px 0;
    }

    .course-added-in-cart .cart-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;
    }

    .course-added-in-cart .cart-buttons p{
margin-bottom: 0;
    }

    .price-container {
        align-self: center;
    }


}


@media screen and (max-width: 790px) {
    .navbar .left-section .searchBar input {
        width: 100%;
    }
}

@media screen and (max-width: 735px) {
    .navbar .right-section .learnings {
        display: none;
    }
    .cart-modal {
        width: 70%;
    }
    .cart-modal .divider {
        flex-direction: column;
    }

    .cart-modal .added-course {
        flex-direction: column;
    }

    .course-info {
        width: 100%;
        text-align: center;
    }

    .cart-modal .added-course .course-info .rating-container{
margin-bottom: 15px;
margin-top: 15px;
align-self: center;

    }
    .cart-modal .card-img-top {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 677px) {
    .course-added-in-cart {
        flex-wrap: wrap;
        justify-content: center;
    }

    .course-added-in-cart .course {
        margin-top: 20px;
    }
}



@media screen and (max-width: 600px) {
    .navbar .right-section .categories {
        display: none
    }
}


@media screen and (max-width: 520px) {
    .navbar .left-section .searchBar {
        display: none;
    }
}