html, body {
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

textarea:focus,
select:focus,
input:focus {
    outline: none;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

a:hover {
    text-decoration: none;
    color: #000;
}

body p {
    margin: 0
}

body h5 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.navbar {
    width: 100% !important;
    background-color: rgba(109, 98, 124, 1) !important;
    padding: 10px !important;
}

.navbar .left-section , .right-section {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    margin-right: 10px;
}

.left-section .fa-bars {
    font-size: 1.8rem;
    margin-right: 13px;
    color: #fff;
}

.right-section  .categories, .right-section .learnings {
    color: #fff !important;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 15px 0 0!important
}

.right-section .categories:hover,
.right-section .learnings,
.right-section li:hover {
    cursor: pointer
}

.right-section ul {
    list-style: none;
    background-color: #fff;
    padding: 15px 25px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 9.1px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
}


.right-section ul li {
    padding-top: 20px;
    font-size: 0.9rem;
 }

.right-section .main-category, .right-section .learnings-category {
    top: 70px;
    right: 5px;
}

.right-section .learnings-category {
    top: 70px;
    right: 150px;
}

.right-section .category {
    top: 70px;
    right: 285px;
}

 .right-section .main-category, .right-section .learnings-category , .right-section .web-development-category,  .right-section .mobile-developement-category,  .right-section .programming-category,  .right-section .engineering-category,  .right-section .block-chain-category,  .right-section .iot-category,  .right-section .cloud-category,  .right-section .data-science-category,  .right-section .cybersecurity-category {
    display: none;
 }

.searchBar {
    position: relative;
}

.searchBar input{
    background-color: #fff;
    padding: 5px;
    padding-left: 30px;
    width: 250px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 0.9rem;
}

.searchBar .fa {
    position: absolute;
    left: 7px;
    top: 8px;
}

.right-section .fa {
    font-size: 1.6rem;
    margin: 0 15px 0 0 !important;
}

.right-section .btn {
padding: 7px 20px;
background-color: #fff;
margin-right: 15px;
font-size: 0.8rem;
font-weight: 500;
border-radius: 0;
}

.right-section .profile-container {
    background-color: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 10px;
}

.profile-container .profile-btn {
    border: 1px solid #000;
    padding: 5px 15px;
}

.profile-btn:hover {
    border-radius: 5px;
}

.profile-btn:hover {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.profile-container.inactive {
    display: none;
}


.left-section .menu-categories {
    background-color: #BDADAD;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 35px;
    width: 350px;
    overflow: hidden;
}

.menu-categories.inactive {
    display: none;
}

.left-section .menu-categories img {
    position: absolute;
    z-index: 0;
}

.menu-categories .first-image {
    top: -15px;
    left: -15px;
}

.menu-categories .second-image {
    top: -15px;
    right: -65px;
}

.menu-categories .fourth-image {
    bottom: 0;
    left: -65px;
}

.menu-categories .third-image {
    bottom: 40px;
    right: -30px;
}

.menu-categories .menu-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    position: relative;
    text-align: center;
    backdrop-filter: blur(10px);
}

.menu-container ul {
    padding-left: 0 !important;
}

.menu-container ul li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1.5px solid transparent;
    cursor: pointer;
}

.menu-container li:hover {
    border-bottom: 1.5px solid #000;
}

.flex {
    display: flex;
    align-items: center;
}

.payment-history-container {
    margin: 3%;
}

.header-container {
    box-shadow: 0px 4px 4px 0px #00000040;
padding: 3%;
display: flex;
flex-direction: column;
align-items: center;
}

.header-container h5 {
    font-weight: 600;
    font-size: 1.3rem;
}

.header-container .filter-container {
    align-self: flex-end;
    margin-right: 5%;
}

.filter-container .flex {
    margin-left: 25px
}

.filter-container i,
.filter-container p {
    font-size: 1.25rem;
    margin-right: 10px;
}

.payment-history-container .second-container {
    border: 1px solid #EBE2E2;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 4% 7%;
    margin-top: 5%;
}


.second-container .borderline {
    border: 1px solid #000;
}

.added-course {
    padding: 15px 40px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.added-course i {
    font-size: 1.5rem;
    margin-right: 10px
}

.added-course:last-child {
    border-bottom: none;
}

.added-course button {
    background: #CFC9C9;
    border: 1px solid #00000080;
    padding: 5px 30px;
    margin-right: 15px;
}

.filter-container .sort-container,
.filter-container .filter {
    position: relative
}

.filter-container .sort-container:hover,
.filter-container .filter:hover {
    cursor: pointer;
}


.sort-pop-up,
.filter-pop-up {
    padding: 20px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start !important;
    width: 250px;
    position: absolute !important;
    top: 0;
    left: -230px;
    display: none ;
}

.sort-pop-up.selected, .filter-pop-up.selected {
    display: flex;
}

.sort-pop-up ul li,
.filter-pop-up ul li{
    list-style: none;
    padding: 10px;
    position: relative
}
.sort-pop-up li::before,
.filter-pop-up li::before {
    content: '';
position: absolute;
left: -10px;
top: 17px;
width: 10px;
height: 10px;
border: 1.6px solid black;
border-radius: 50%;
background-color: transparent
}





@media screen and (max-width: 790px) {
    .navbar .left-section .searchBar input {
        width: 100%;
    }
}

@media screen and (max-width: 735px) {
    .navbar .right-section .learnings {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navbar .right-section .categories {
        display: none
    }
}


@media screen and (max-width: 520px) {
    .navbar .left-section .searchBar {
        display: none;
    }
}