{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Righteous&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <div class="left-section">
            <i id="toggleMenu" class="fa fa-bars" aria-hidden="true" style="cursor: pointer"></i>
            <div class="menu-categories inactive">
                <img src="{% static 'assets/roadmap/stacked-books.png' %}" class="first-image" width="180px"
                    alt="Stack of Books">
                <img src="{% static 'assets/roadmap/open-book.png' %}" class="second-image" width="200px"
                    alt="Stack of Books">
                <img src="{% static 'assets/roadmap/stacked-books.png' %}" class="third-image" width="200px"
                    alt="Stack of Books">
                <img src="{% static 'assets/roadmap/open-book.png' %}" class="fourth-image" width="200px"
                    alt="Stack of Books">
                <div class="menu-container">
                    <ul>
                        <a href="{% url 'my_course' %}">
                            <li>My Courses</li>
                        </a>
                        <a href="{% url 'certificate' %}">
                            <li>Certificates</li>
                        </a>
                        <a href="{% url 'ticket' %}">
                            <li>Support & Help</li>
                        </a>
                        <a href="{% url 'referral' %}">
                            <li>Referral Program</li>
                        </a>
                        <a href="{% url 'payment_history' %}">
                            <li>Payment History</li>
                        </a>
                        <a href="{% url 'blog' %}">
                            <li>Blog</li>
                        </a>
                    </ul>

                </div>
            </div>
            <a href="{% url 'landing_page_after_login' %}">
                <img class="logo" src="{% static 'assets/logo.png' %}" alt="">

            </a>
            <div class="searchBar">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="search" name="search" placeholder="Search">
            </div>
        </div>
        <div class="right-section">
            <p class="learnings">My Learnings</p>
            <ul class="learnings-category">
                <li class="first-category">Web Development</li>
                <li class="second-category">Mobile App Development</li>
                <li class="third-category">Programming Languages</li>
                <li class="fourth-category"> Software Engineering</li>
                <li class="fifth-category">Block Chain & Crypto Currency</li>
                <li class="sixth-category">Internet of things</li>
                <li class="seventh-category">Cloud Computing</li>
                <li class="eight-category">Data Science & Machine Learning</li>
                <li class="ninth-category">Cybersecurity</li>
                <li class="ninth-category">Stock Market</li>
                <li class="ninth-category">Graphic Design</li>
                <li class="ninth-category">UI/UX</li>
                <li class="ninth-category">Excel (Beginner to Advace)</li>
                <li class="ninth-category">Digital Marketing</li>
                <li class="ninth-category">R Language</li>
            </ul>
            <p class="categories">Categories</p>
            <ul class="main-category">
                <li class="first-category">Web Development</li>
                <li class="second-category">Mobile App Development</li>
                <li class="third-category">Programming Languages</li>
                <li class="fourth-category"> Software Engineering</li>
                <li class="fifth-category">Block Chain & Crypto Currency</li>
                <li class="sixth-category">Internet of things</li>
                <li class="seventh-category">Cloud Computing</li>
                <li class="eight-category">Data Science & Machine Learning</li>
                <li class="ninth-category">Cybersecurity</li>
                <li class="ninth-category">Stock Market</li>
                <li class="ninth-category">Graphic Design</li>
                <li class="ninth-category">UI/UX</li>
                <li class="ninth-category">Excel (Beginner to Advace)</li>
                <li class="ninth-category">Digital Marketing</li>
                <li class="ninth-category">R Language</li>
            </ul>
            <ul class="web-development-category category">
                <li>HTML / CSS</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
                <li>React Js</li>
                <li>Angular</li>
                <li>Node Js</li>
                <li>Express Js</li>
            </ul>
            <ul class="mobile-developement-category category">
                <li>Android Development with Java/ Kotlin
                </li>
                <li>iOS Development with Swift</li>
                <li> React Native </li>
            </ul>
            <ul class="programming-category category">
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
                <li>C#</li>
                <li>Ruby</li>
                <li>PHP</li>
                <li>Go</li>
            </ul>
            <ul class="engineering-category category">
                <li>Software Development Lifecycle (SDLC)</li>
                <li>Agile and Scrum</li>
                <li> DevOps Principles</li>
                <li>Software Testing and Quality Assurance</li>
            </ul>
            <ul class="block-chain-category category">
                <li>Blockchain Fundamentals</li>
                <li> Smart Contract Development</li>
                <li>Cryptocurrency and Bitcoin Basic</li>
            </ul>
            <ul class="iot-category category">
                <li>Introduction to loT
                </li>
                <li>IoT Platforms and Technologies
                </li>
                <li> IoT Security and Privacy</li>
            </ul>
            <ul class="cloud-category category">
                <li> Introduction to Cloud Computing
                </li>
                <li>Amazon Web Services (AWS)
                </li>
                <li>Microsoft Azure</li>
                <li>Google Cloud Platform (GCP)</li>
                <li>DevOps Practices and Tools</li>
            </ul>
            <ul class="data-science-category category">
                <li>Python for Data Science
                </li>
                <li>Data Analysis with Pandas
                </li>
                <li>NumPy and SciPy</li>
                <li>Machine Learning Fundamentals</li>
                <li>Deep Learning with TensorFlow or PyTorch</li>
                <li>Natural Language Processing</li>
            </ul>
            <ul class="cybersecurity-category category">
                <li> Introduction to Cybersecurity
                </li>
                <li>Ethical Hacking
                </li>
                <li>Network Security</li>
                <li>Web Application Security</li>
                <li> Cryptography</li>
                <li> Incident Response and Forensics</li>
            </ul>
            <a href="{% url 'profile_page' %}">
                <img class="logo" src="{% static 'assets/user.png' %}" alt="">

            </a>
            <p style="color: #fff; font-size: 0.9rem; margin-right: 10px">Student's Name</p>
            <img id="toggleProfile" src="{% static 'assets/roadmap/down-arrow.png' %}" width="25px" alt=""
                style="cursor: pointer">
            <div class="profile-container inactive">
                <a href="{% url 'profile_page' %}"><button class="profile-btn">Profile Setting Page</button></a>
            </div>
        </div>
    </div>
    <div class="user-profile-container">
        <div class="inner-container">
            <div class="sidebar">
                <div class="profile-img"></div>
                <p style="text-align: center;">Your Registered Name</p>
                <ul>
                    <li id="profile-btn" class="active">Profile</li>
                    <li id="account-security-btn">Account Security</li>
                    <li id="educational-details-btn">Educational Details</li>
                    <li id="payment-method-btn">Payment Methods</li>
                    <li id="privacy-btn">Privacy</li>
                    <li id="notifications-btn">Notifications</li>
                    <li id="log-out-btn">Log Out</li>
                </ul>
            </div>
            <div class="user-info-container containers active">
                <div class="right-container">
                    <div class="top-container">
                        <p>Private/Public Account</p>
                        <p>Details</p>
                    </div>
                    <div class="bottom-container">
                        <div class="all-input">
                            <div class="form-group block">
                                <label for="name">Name</label>
                                <input id="name" name="name" type="text" placeholder="First Name">
                                <input id="name" name="name" type="text" placeholder="Last Name">
                            </div>
                            <div class="form-group flex">
                                <label for="mobileNumber">Mobile number</label>
                                <input id="mobileNumber" name="mobileNumber" type="number"
                                    placeholder="Enter your mobile number">
                                <button class="purple-btn">Update</button>
                            </div>
                            <div class="form-group block">
                                <label for="language">Language</label>
                                <select id="language">
                                    <option value="">Select</option>
                                    <option value="Hindi">Hindi</option>
                                    <option value="English">English</option>
                                </select>
                            </div>
                            <div class="form-group flex links">
                                <label for="linkedin">LinkedIn Profile</label>
                                <input id="linkedin" name="linkedin" type="text"
                                    placeholder="Your linkedIn profile url">
                            </div>
                            <div class="form-group flex links">
                                <label for="twitter">Twitter Profile</label>
                                <input id="twitter" name="twitter" type="text" placeholder="Your Twitter profile url">
                            </div>
                            <div class="form-group flex links">
                                <label for="facebook">Facebook Profile</label>
                                <input id="facebook" name="facebook" type="text"
                                    placeholder="Your Facebook profile url">
                            </div>
                        </div>
                        <div class="save-btn btn-container">
                            <button class="purple-btn">Save</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="account-container containers">
                <div class="right-container">
                    <div class="top-container">
                        <p>Account</p>
                        <p>Edit your account setting and change your password here.</p>
                    </div>
                    <div class="bottom-container">
                        <div class="all-input">
                            <div class="form-group block">
                                <label for="email">Email Address</label>
                                <input id="email" name="email" type="email" placeholder="Email Address">
                            </div>
                            <div class="form-group block">
                                <label for="password">Change Password</label>
                                <input id="password" name="password" type="text" placeholder="Enter old password">
                                <input id="password" name="password" type="text" placeholder="Enter new password">
                                <input id="password" name="password" type="text" placeholder="Re-enter new password">
                            </div>
                            <div class="change-pwd-btn btn-container">
                                <button class="purple-btn">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-container containers">
                <div class="right-container">
                    <div class="top-container">
                        <p>Education Details</p>
                        <p>Details</p>
                    </div>
                    <div class="bottom-container">
                        <ul>
                            <li class="flex">
                                <p>Work Experience</p>
                                <button class="purple-btn" id="openWorkExperience">Add</button>
                            </li>
                            <li class="flex">
                                <p>Education</p>
                                <button class="purple-btn" id="openEducation">Add</button>
                            </li>
                            <li class="flex">
                                <p>Projects</p>
                                <button class="purple-btn" id="openProjects">Add</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="payment-method-container containers">
                <div class="right-container">
                    <div class="top-container">
                        <p>Payment Methods</p>
                        <p>Details</p>
                    </div>
                    <div class="bottom-container">
                        <h6>Your saved payment methods</h6>
                        <div class="payments">
                            <p style="opacity: 0.5">You don't have any selected payment method</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="privacy-container containers">
                <div class="right-container">
                    <div class="top-container">
                        <p>Privacy</p>
                        <p>Modify your privacy settings here.</p>
                    </div>
                    <div class="bottom-container">
                        <h6>Privacy Page Setting</h6>
                        <div class="flex">
                            <input type="checkbox" id="agree" name="agree" style="margin-right: 10px;">
                            <label for="agree" class="checkbox-label">Show your profile to logged in users</label>
                        </div>
                        <div class="flex">
                            <input type="checkbox" id="agree" name="agree" style="margin-right: 10px;">
                            <label for="agree" class="checkbox-label">Show courses you are taking on your profile
                                page</label>
                        </div>
                        <div class="btn-container">
                            <button class="purple-btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notifications containers">
                <div class="right-container">
                    <div class="top-container">
                        <p>Notifications</p>
                        <p>Turn promotional email notifications from Udemy on or off.</p>
                    </div>
                    <div class="bottom-container">
                        <h6>I want to receive</h6>
                        <div class="flex">
                            <input type="checkbox" id="agree" name="agree" style="margin-right: 10px;">
                            <label for="agree" class="checkbox-label">Promotions, course recommendations, and helpful
                                resources from E-learning platform. </label>
                        </div>
                        <div class="flex">
                            <input type="checkbox" id="agree" name="agree" style="margin-right: 10px;">
                            <label for="agree" class="checkbox-label">Announcement from instructor whose course(‘s) I’m
                                enrolled in.
                            </label>
                        </div>
                        <div class="flex">
                            <input type="checkbox" id="agree" name="agree" style="margin-right: 10px;">
                            <label for="agree" class="checkbox-label">Don’t send me any promotional emails.
                            </label>
                        </div>
                        <div class="btn-container">
                            <button class="purple-btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="log-out containers">
                <div class="right-container">
                    <div class="top-container">
                        <p>Log out</p>
                        <p>Close your account.</p>
                    </div>
                    <div class="bottom-container">
                        <p><span style="font-weight: 600; color: #C93636">Warning:</span>Do remember your password</p>
                        <a href="{% url 'landing_page' %}">
                            <div class="btn-container">
                                <button class="purple-btn">Log out</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalContainer" class="modal-container">
            <div class="work-experience modal-containers" id="workExperienceModal">
                <h4>Work Experience</h4>
                <p style="font-weight: 600; margin-bottom: 40px">Add your past work experience. If you're just starting
                    out, you can add
                    internships or volunteer
                    experience instead.</p>
                <div class="form-group block">
                    <label for="institution">Name of the Institution</label>
                    <input type="text" id="institution" name="institution" placeholder="Enter your institution name">
                </div>
                <div class="form-group block">
                    <label for="role">Role</label>
                    <input type="text" id="role" name="role" placeholder="Enter your role">
                </div>
                <div class="line"></div>
                <h6 style="font-size: 1.1rem; margin-bottom: 15px">Start Date</h6>
                <div class="dates flex">
                    <div class="form-group flex">
                        <label for="month">Month</label>
                        <select id="month">
                            <option value="">Select Month</option>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="Mar">Mar</option>
                            <option value="Apr">Apr</option>
                            <option value="May">May</option>
                            <option value="Jun">Jun</option>
                            <option value="Jul">Jul</option>
                            <option value="Aug">Aug</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>
                        </select>
                    </div>
                    <div class="form-group flex">
                        <label for="year">Year</label>
                        <select id="year">
                            <option value="">Select Year</option>
                            <option value="2024">2024</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                </div>
                <div class="line"></div>
                <h6 style="font-size: 1.1rem; margin-bottom: 15px">End Date</h6>
                <div class="dates flex">
                    <div class="form-group flex">
                        <label for="month">Month</label>
                        <select id="month">
                            <option value="">Select Month</option>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="Mar">Mar</option>
                            <option value="Apr">Apr</option>
                            <option value="May">May</option>
                            <option value="Jun">Jun</option>
                            <option value="Jul">Jul</option>
                            <option value="Aug">Aug</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>
                        </select>
                    </div>
                    <div class="form-group flex">
                        <label for="year">Year</label>
                        <select id="year">
                            <option value="">Select Year</option>
                            <option value="2024">2024</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>

                </div>
                <div class="flex">
                    <input type="checkbox" id="agree" name="agree" style="margin-right: 10px;">
                    <label for="agree" class="checkbox-label"> I currently work here</label>
                </div>
                <div class="line"></div>
                <label for="description"
                    style="font-size: 1.1rem; font-weight: 500;margin-bottom: 5px">Description</label>
                <p style="margin-bottom: 10px">Add a simple description of your responsibilities and achievements in
                    this
                    role</p>
                <textarea name="description" rows="7" placeholder="Enter here"></textarea>
                <div class="btn-container">
                    <button class="purple-btn">Add</button>
                </div>
            </div>
            <div class="education modal-containers" id="educationModal">
                <h4>Education</h4>
                <p style="font-weight: 600; margin-bottom: 40px">Add your educational background to let employers know
                    where you studied or are currently studying. Even if you didn’t finish, it’s important to include it
                    here. And if you’ve earned a college degree, you don’t need to add your high school/GED. All fields
                    are optional.</p>
                <div class="form-group block">
                    <label for="institution">Name of the Institution</label>
                    <input type="text" id="institution" name="institution" placeholder="Enter your institution name">
                </div>
                <div class="form-group block">
                    <label for="degree">Degree</label>
                    <input type="text" id="degree" name="degree" placeholder="Enter your degree">
                </div>
                <div class="line"></div>
                <h6 style="font-size: 1.1rem; margin-bottom: 15px">Start Date</h6>
                <div class="dates flex">
                    <div class="form-group flex">
                        <label for="month">Month</label>
                        <select id="month">
                            <option value="">Select Month</option>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="Mar">Mar</option>
                            <option value="Apr">Apr</option>
                            <option value="May">May</option>
                            <option value="Jun">Jun</option>
                            <option value="Jul">Jul</option>
                            <option value="Aug">Aug</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>
                        </select>
                    </div>
                    <div class="form-group flex">
                        <label for="year">Year</label>
                        <select id="year">
                            <option value="">Select Year</option>
                            <option value="2024">2024</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                </div>
                <div class="line"></div>
                <h6 style="font-size: 1.1rem; margin-bottom: 15px">Graduation date or expected graduation date</h6>
                <div class="dates flex">
                    <div class="form-group flex">
                        <label for="month">Month</label>
                        <select id="month">
                            <option value="">Select Month</option>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="Mar">Mar</option>
                            <option value="Apr">Apr</option>
                            <option value="May">May</option>
                            <option value="Jun">Jun</option>
                            <option value="Jul">Jul</option>
                            <option value="Aug">Aug</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>
                        </select>
                    </div>
                    <div class="form-group flex">
                        <label for="year">Year</label>
                        <select id="year">
                            <option value="">Select Year</option>
                            <option value="2024">2024</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>

                </div>
                <div class="flex">
                    <input type="checkbox" id="agree" name="agree" style="margin-right: 10px;">
                    <label for="agree" class="checkbox-label"> I currently study here</label>
                </div>

                <div class="btn-container">
                    <button class="purple-btn">Add</button>
                </div>
            </div>
            <div class="projects modal-containers" id="projectsModal">
                <h4>Projects</h4>
                <div class="inside-project-container">
                    <p>Showcase your skills to recruiters with job-relevant projects
                        Add projects here to demonstrate your technical expertise and ability to solve real-world
                        problems.</p>
                    <div class="flex">
                        <p>Browse Projects</p>
                        <button class="purple-btn">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categories = document.querySelector('.categories');
            const categoryList = document.querySelector('.main-category');
            const categoryLists = document.querySelectorAll('.category');
            categories.addEventListener('click', function () {
                // Toggle the visibility of the list
                categoryList.style.display = categoryList.style.display === 'none' ? 'block' : 'none';
                categoryLists.forEach(function (category) {
                    category.style.display = 'none';
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const categories = document.querySelector('.learnings');
            const categoryList = document.querySelector('.learnings-category');
            const categoryLists = document.querySelectorAll('.category');
            categories.addEventListener('click', function () {
                // Toggle the visibility of the list
                categoryList.style.display = categoryList.style.display === 'none' ? 'block' : 'none';
                categoryLists.forEach(function (category) {
                    category.style.display = 'none';
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const mainCategories = document.querySelectorAll('.main-category li');
            const categoryLists = document.querySelectorAll('.category');

            mainCategories.forEach(function (mainCategory, index) {
                mainCategory.addEventListener('click', function () {
                    // Hide all category lists
                    const categoryList = categoryLists[index];
                    categoryList.style.display = (categoryList.style.display === 'none') ? 'block' : 'none';

                    // Hide all other category lists
                    categoryLists.forEach(function (category, idx) {
                        if (idx !== index) {
                            category.style.display = 'none';
                        }
                    });
                });
            });
        });

        document.getElementById('toggleProfile').addEventListener('click', function () {
            const profileContainer = document.querySelector('.profile-container');
            profileContainer.classList.toggle('inactive');
        });

        document.getElementById('toggleMenu').addEventListener('click', function () {
            const profileContainer = document.querySelector('.menu-categories');
            profileContainer.classList.toggle('inactive');
        });

        function openModal(modalId) {
            document.getElementById(modalId).classList.add('active');
            document.querySelector('.modal-container').classList.add('active')
        }

        function closeModal(modalContainerId) {
            const modalContainer = document.getElementById(modalContainerId);
            const modals = modalContainer.querySelectorAll('.modal-containers');
            modals.forEach(modal => {
                modal.classList.remove('active');
            });
            modalContainer.classList.remove('active')

        }

        // Event listeners for open buttons
        document.getElementById('openWorkExperience').addEventListener('click', () => openModal('workExperienceModal'));
        document.getElementById('openEducation').addEventListener('click', () => openModal('educationModal'));
        document.getElementById('openProjects').addEventListener('click', () => openModal('projectsModal'));
        const modalContainer = document.querySelector('.modal-container')

        // Close the modal when the user clicks outside of it
        window.addEventListener('click', (event) => {
            if (event.target.classList.contains('modal-container')) {
                closeModal('modalContainer');
            }
        });

        // Function to remove 'active' class from all containers
        function hideAllContainers() {
            const containers = document.querySelectorAll('.containers');
            containers.forEach(container => container.classList.remove('active'));
        }

        // Function to show the specific container
        function showContainer(containerId) {
            hideAllContainers();
            document.querySelector(`.${containerId}`).classList.add('active');
        }

        // Function to remove 'active' class from all sidebar items
        function removeActiveClassFromSidebar() {
            const sidebarItems = document.querySelectorAll('.sidebar li');
            sidebarItems.forEach(item => item.classList.remove('active'));
        }

        // Function to add 'active' class to the clicked sidebar item
        function addActiveClassToSidebar(item) {
            removeActiveClassFromSidebar();
            item.classList.add('active');
        }

        // Function to handle sidebar item click
        function handleSidebarClick(event, containerId) {
            addActiveClassToSidebar(event.target);
            showContainer(containerId);
        }

        // Add event listeners to sidebar buttons
        document.getElementById('profile-btn').addEventListener('click', (event) => handleSidebarClick(event, 'user-info-container'));
        document.getElementById('account-security-btn').addEventListener('click', (event) => handleSidebarClick(event, 'account-container'));
        document.getElementById('educational-details-btn').addEventListener('click', (event) => handleSidebarClick(event, 'education-container'));
        document.getElementById('payment-method-btn').addEventListener('click', (event) => handleSidebarClick(event, 'payment-method-container'));
        document.getElementById('privacy-btn').addEventListener('click', (event) => handleSidebarClick(event, 'privacy-container'));
        document.getElementById('notifications-btn').addEventListener('click', (event) => handleSidebarClick(event, 'notifications'));
        document.getElementById('log-out-btn').addEventListener('click', (event) => handleSidebarClick(event, 'log-out'));


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>