{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowlegopedia</title>
    <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/roadmap_after_pg_in_comm.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Righteous&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style>
        .profile-btn:hover {
            border-radius: 5px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }

        .profile-container.inactive {
            display: none;
        }


        .left-section .menu-categories {
            background-color: #BDADAD;
            position: absolute;
            top: 70px;
            left: 0;
            padding: 35px;
            width: 350px;
            overflow: hidden;
        }

        .menu-categories.inactive {
            display: none;
        }

        .left-section .menu-categories img {
            position: absolute;
            z-index: 0;
        }

        .menu-categories .first-image {
            top: -15px;
            left: -15px;
        }

        .menu-categories .second-image {
            top: -15px;
            right: -65px;
        }

        .menu-categories .fourth-image {
            bottom: 0;
            left: -65px;
        }

        .menu-categories .third-image {
            bottom: 40px;
            right: -30px;
        }

        .menu-categories .menu-container {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fff;
            border-radius: 25px;
            background-color: rgba(255, 255, 255, 0.1);
            z-index: 10;
            position: relative;
            text-align: center;
            backdrop-filter: blur(10px);
        }

        .menu-container ul {
            padding-left: 0 !important;
        }

        .menu-container ul li {
            list-style: none;
            margin-bottom: 20px;
            border-bottom: 1.5px solid transparent;
            cursor: pointer;
        }

        .menu-container li:hover {
            border-bottom: 1.5px solid #000;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div class="left-section">
            <i id="toggleMenu" class="fa fa-bars" aria-hidden="true" style="cursor: pointer"></i>
            <div class="menu-categories inactive">
                <img src="{% static 'assets/roadmap/stacked-books.png' %}" class="first-image" width="180px"
                    alt="Stack of Books">
                <img src="{% static 'assets/roadmap/open-book.png' %}" class="second-image" width="200px"
                    alt="Stack of Books">
                <img src="{% static 'assets/roadmap/stacked-books.png' %}" class="third-image" width="200px"
                    alt="Stack of Books">
                <img src="{% static 'assets/roadmap/open-book.png' %}" class="fourth-image" width="200px"
                    alt="Stack of Books">
                <div class="menu-container">
                    <ul>
                        <a href="{% url 'my_course' %}">
                            <li>My Courses</li>
                        </a>
                        <a href="{% url 'certificate' %}">
                            <li>Certificates</li>
                        </a>
                        <a href="{% url 'ticket' %}">
                            <li>Support & Help</li>
                        </a>
                        <a href="{% url 'referral' %}">
                            <li>Referral Program</li>
                        </a>
                        <a href="{% url 'payment_history' %}">
                            <li>Payment History</li>
                        </a>
                        <a href="{% url 'blog' %}">
                            <li>Blog</li>
                        </a>
                    </ul>

                </div>
            </div>
            <a href="{% url 'landing_page_after_login' %}">
                <img class="logo" src="{% static 'assets/logo.png' %}" alt="">

            </a>
            <div class="searchBar">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="search" name="search" placeholder="Search">
            </div>
        </div>
        <div class="right-section">
            <p class="learnings">My Learnings</p>
            <ul class="learnings-category">
                <li class="first-category">Web Development</li>
                <li class="second-category">Mobile App Development</li>
                <li class="third-category">Programming Languages</li>
                <li class="fourth-category"> Software Engineering</li>
                <li class="fifth-category">Block Chain & Crypto Currency</li>
                <li class="sixth-category">Internet of things</li>
                <li class="seventh-category">Cloud Computing</li>
                <li class="eight-category">Data Science & Machine Learning</li>
                <li class="ninth-category">Cybersecurity</li>
                <li class="ninth-category">Stock Market</li>
                <li class="ninth-category">Graphic Design</li>
                <li class="ninth-category">UI/UX</li>
                <li class="ninth-category">Excel (Beginner to Advace)</li>
                <li class="ninth-category">Digital Marketing</li>
                <li class="ninth-category">R Language</li>
            </ul>
            <p class="categories">Categories</p>
            <ul class="main-category">
                <li class="first-category">Web Development</li>
                <li class="second-category">Mobile App Development</li>
                <li class="third-category">Programming Languages</li>
                <li class="fourth-category"> Software Engineering</li>
                <li class="fifth-category">Block Chain & Crypto Currency</li>
                <li class="sixth-category">Internet of things</li>
                <li class="seventh-category">Cloud Computing</li>
                <li class="eight-category">Data Science & Machine Learning</li>
                <li class="ninth-category">Cybersecurity</li>
                <li class="ninth-category">Stock Market</li>
                <li class="ninth-category">Graphic Design</li>
                <li class="ninth-category">UI/UX</li>
                <li class="ninth-category">Excel (Beginner to Advace)</li>
                <li class="ninth-category">Digital Marketing</li>
                <li class="ninth-category">R Language</li>
            </ul>
            <ul class="web-development-category category">
                <li>HTML / CSS</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
                <li>React Js</li>
                <li>Angular</li>
                <li>Node Js</li>
                <li>Express Js</li>
            </ul>
            <ul class="mobile-developement-category category">
                <li>Android Development with Java/ Kotlin
                </li>
                <li>iOS Development with Swift</li>
                <li> React Native </li>
            </ul>
            <ul class="programming-category category">
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
                <li>C#</li>
                <li>Ruby</li>
                <li>PHP</li>
                <li>Go</li>
            </ul>
            <ul class="engineering-category category">
                <li>Software Development Lifecycle (SDLC)</li>
                <li>Agile and Scrum</li>
                <li> DevOps Principles</li>
                <li>Software Testing and Quality Assurance</li>
            </ul>
            <ul class="block-chain-category category">
                <li>Blockchain Fundamentals</li>
                <li> Smart Contract Development</li>
                <li>Cryptocurrency and Bitcoin Basic</li>
            </ul>
            <ul class="iot-category category">
                <li>Introduction to loT
                </li>
                <li>IoT Platforms and Technologies
                </li>
                <li> IoT Security and Privacy</li>
            </ul>
            <ul class="cloud-category category">
                <li> Introduction to Cloud Computing
                </li>
                <li>Amazon Web Services (AWS)
                </li>
                <li>Microsoft Azure</li>
                <li>Google Cloud Platform (GCP)</li>
                <li>DevOps Practices and Tools</li>
            </ul>
            <ul class="data-science-category category">
                <li>Python for Data Science
                </li>
                <li>Data Analysis with Pandas
                </li>
                <li>NumPy and SciPy</li>
                <li>Machine Learning Fundamentals</li>
                <li>Deep Learning with TensorFlow or PyTorch</li>
                <li>Natural Language Processing</li>
            </ul>
            <ul class="cybersecurity-category category">
                <li> Introduction to Cybersecurity
                </li>
                <li>Ethical Hacking
                </li>
                <li>Network Security</li>
                <li>Web Application Security</li>
                <li> Cryptography</li>
                <li> Incident Response and Forensics</li>
            </ul>
            <a href="{% url 'profile_page' %}">
                <img class="logo" src="{% static 'assets/user.png' %}" alt="">

            </a>
            <p style="color: #fff; font-size: 0.9rem; margin-right: 10px">Student's Name</p>
            <img id="toggleProfile" src="{% static 'assets/roadmap/down-arrow.png' %}" width="25px" alt=""
                style="cursor: pointer">
            <div class="profile-container inactive">
                <a href="{% url 'profile_page' %}"><button class="profile-btn">Profile Setting Page</button></a>
            </div>
        </div>
    </div>
    <div class="article">
        <div style="text-align: center;">
            <img src="{% static 'assets/roadmap/electronic.png'%}" alt="">
        </div>
        <h5>Career Options After Post-Graduation in Electronics</h5>
        <h6>1. Analog applications engineer</h6>
        <p>Every electronics graduate's ideal job. In businesses like Qualcomm or Texas Instruments, you'll be in charge
            of overseeing and developing electrical chips. The competition is fierce, and your admission will be
            determined by the breadth of your expertise. Although there is a perception that such organisations hire
            primarily from the country's top universities, you can apply for a position with the correct combination of
            talents. Furthermore, there are additional little Indian possibilities where organisations perform a
            comparable job to the aforementioned brands, but the bundles are naturally less.</p>
        <h6>2. Telecom engineer</h6>
        <p>Every telecommunications company is vying for better coverage and quicker internet, and the more towers they
            build in every corner, the more telecom engineers they'll need. The use of mobile phones is only going to
            grow, and with it will come to a greater demand for seamless connectivity. This is one field where there
            will rarely be a shortage of jobs, and your degree from one of the best Btech colleges in Pune will prepare
            you in every way. You'll have the abilities, and employers will seek you out.</p>
        <h6>3. VLSI and embedded systems</h6>
        <p>To put it another way, automation. With the global economy's technological transition, the use of VLSI and
            embedded systems will only grow in every area. Electronics will soon infiltrate every aspect of life, from
            space flight to consumer products, autos to banking. Due to the increased demand, current speciality
            businesses will see a rise in the business, and newer businesses will be able to open their doors. Getting a
            master's degree in this profession could be a good idea for you because it will improve your job prospects.
            The industry necessitates a depth of expertise, which masters will provide.
        </p>
        <h6>4. Information technology or data processing</h6>
        <p>IT is still going strong, and companies in this industry increasingly prefer electronics engineers over core
            pupils, which is surprising. This development can be attributed to two important factors. To begin with, all
            of the major IT organisations are looking into the possibilities of automating their jobs in order to boost
            efficiency, and electronics graduates will be a valuable asset to the company. Second, because they come
            from a different profession, electronics engineers find it easier to learn other auxiliary skills, such as
            data processing, because their fundamental IT expertise does not clash. The IT boom will last for a long
            time, and you will always be able to find work in the field.</p>
        <h6>5. Power industry</h6>
        <p>An industry that will never go out of business. There will always be a desire for additional energy, and
            electronics engineers can help increase transmission efficiency. Power electronics have already established
            themselves as an important component, and much work is being done to improve the current technology. You can
            continue to be involved with the country's ever-growing power business by working or conducting research as
            a scholar. Government jobs are plentiful, come with generous benefits, and provide a reasonable chance of
            advancement. Furthermore, the experience you will get will be priceless.</p>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categories = document.querySelector('.categories');
            const categoryList = document.querySelector('.main-category');
            const categoryLists = document.querySelectorAll('.category');
            categories.addEventListener('click', function () {
                // Toggle the visibility of the list
                categoryList.style.display = categoryList.style.display === 'none' ? 'block' : 'none';
                categoryLists.forEach(function (category) {
                    category.style.display = 'none';
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const categories = document.querySelector('.learnings');
            const categoryList = document.querySelector('.learnings-category');
            const categoryLists = document.querySelectorAll('.category');
            categories.addEventListener('click', function () {
                // Toggle the visibility of the list
                categoryList.style.display = categoryList.style.display === 'none' ? 'block' : 'none';
                categoryLists.forEach(function (category) {
                    category.style.display = 'none';
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const mainCategories = document.querySelectorAll('.main-category li');
            const categoryLists = document.querySelectorAll('.category');

            mainCategories.forEach(function (mainCategory, index) {
                mainCategory.addEventListener('click', function () {
                    // Hide all category lists
                    const categoryList = categoryLists[index];
                    categoryList.style.display = (categoryList.style.display === 'none') ? 'block' : 'none';

                    // Hide all other category lists
                    categoryLists.forEach(function (category, idx) {
                        if (idx !== index) {
                            category.style.display = 'none';
                        }
                    });
                });
            });
        });

        document.getElementById('toggleProfile').addEventListener('click', function () {
            const profileContainer = document.querySelector('.profile-container');
            profileContainer.classList.toggle('inactive');
        });

        document.getElementById('toggleMenu').addEventListener('click', function () {
            const profileContainer = document.querySelector('.menu-categories');
            profileContainer.classList.toggle('inactive');
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>